<!DOCTYPE html>
<html>
<head>
    <title>Analysis Result</title>
</head>
<body>
    <h1>Analysis Result</h1>
    <p>Input Sentence: {{ input_sentence }}</p>
    <p>Sentiment: {{ result }}</p>
    <a href="/">Back to Home</a>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon Book Reviews Sentiment Analysis</title>
</head>
<body>
    <h1>Amazon Book Reviews Sentiment Analysis</h1>
    <form method="POST">
        <label for="user_input">Enter your review:</label><br>
        <textarea name="user_input" id="user_input" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Analyze">
    </form>
    {% if sentiment %}
    <h2>Sentiment: {{ sentiment }}</h2>
    {% endif %}
</body>
</html>
